header{
    @include flex(column,none,none,none);
    background-image: url(../assets/img/header.png);
    background-position: top;
    .caja-icon{
        @include flex(row,end,start,8px);
        padding: 50px;
        :hover{
            width: 25px;
        }
    }
    .logo{
        @include flex(row,start,center,none);
        width: 500px;
        height: 100px;
        padding-left: 40px;
    }
    .navbar{
        @include flex(column,start,center,none);
        ul{
            @include flex(row,center,center,25px);
            li{
                display: flex;
                a{
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    text-decoration: none;
                    color: #fff;
                    font-size: 18px;
                    padding-top: 56px;
                    text-shadow: 1px -1px black;
                }
                    :hover{
                        color: gray;
                        font-size: 20px;
                    }
                }
        }
            
    }
}