header{
    @include flex(column,none,none,none);
    background-image: url(../assets/img/rh.png);
    .caja-icon{
        @include flex(row,end,start,8px);
        padding: 10px;
        :hover{
            width: 25px;
        }
    }
    .logo{
        @include flex(column,start,center,none);
        width: 290px;
        padding: 10px
    }
    .navbar{
        @include flex(column,end,center,none);
        ul{
            @include flex(row,center,center,25px);
            li{
                display: flex;
                a{
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    text-decoration: none;
                    color: black;
                    font-size: 18px;
                }
                    :hover{
                        color: gray;
                        font-size: 20px;
                    }
                }
        }
            
    }
}